{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="container">
        <h2>Sign Up</h2>
        <form action="{{ url_for('signup') }}" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="w-full px-3 py-2 border rounded-lg" required>
            </div>
            
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="w-full px-3 py-2 border rounded-lg" required>
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password"class="w-full px-3 py-2 border rounded-lg" required>
            </div>
            <div class="form-group">
                <label for="role">Role</label>
                <select id="role" name="role" class="w-full px-3 py-2 border rounded-lg" required>
                    <option value="student">student</option>
                    <option value="admin">Admin</option>
                    <option value="lecturer">lecturer</option>
                </select>
            </div>
            <div class="form-group"></div> 
            <button type="submit"  class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 rounded-lg">Sign Up</button>
        </div>
        </form>

        <p>Already have an account? <a href="{{ url_for('login') }}"  class="text-blue-500 hover:underline">Log in</a></p>
    </div>
{% endblock %}
